<launch>
  <arg name="bag_path"
       default="/data/s3e/S3E_Square_1.bag"/>
  <arg name="play_bag" default="true"/>
  <arg name="bag_rate" default="1.0"/>
  <arg name="bag_start" default="0.0"/>
  <arg name="bag_duration" default="60.0"/>
  <arg name="rerun_visualizer_enable" default="true"/>
  <arg name="rerun_recording_id" default=""/>
  <arg name="rerun_host" default="rerun+http://172.18.0.1:9876/proxy"/>
  <arg name="rerun_factor_graph_enable" default="true"/>
  <arg name="rerun_world_alignment_enable" default="true"/>
  <arg name="liorf_rerun_local_map_leaf_size" default="1.0"/>
  <arg name="liorf_rerun_local_map_max_points" default="10000"/>
  <arg name="liorf_use_gps" default="false"/>

  <arg name="use_kimera_rviz" default="true"/>
  <arg name="use_liorf_rviz" default="false"/>
  <arg name="kimera_visualize" default="true"/>
  <arg name="kimera_params_folder"
       default="$(find kimera_vio)/params/S3EAlphaMonoXfeat"/>
  <arg name="enable_cbs_bridge" default="true"/>
  <arg name="liorf_belief_timestamp_tolerance_sec" default="0.12"/>
  <arg name="kimera_belief_timestamp_tolerance_sec" default="0.2"/>
  <arg name="liorf_belief_reject_first_message" default="true"/>
  <arg name="liorf_cbs_belief_similarity_threshold" default="0.01"/>
  <arg name="kimera_belief_reject_first_message" default="true"/>
  <arg name="cbs_enable_soft_reset" default="true"/>
  <arg name="cbs_use_raw_previous_belief_gate" default="false"/>
  <arg name="cbs_use_temporary_cbs_prior_factors" default="false"/>
  <arg name="cbs_use_temporary_cbs_linear_priors" default="true"/>
  <arg name="cbs_belief_factor_mode" default="prior"/>
  <arg name="cbs_use_sender_conditional_odom_factors" default="true"/>
  <arg name="cbs_temporary_linear_already_applied_gate_enable" default="true"/>
  <arg name="cbs_temporary_linear_already_applied_metric_threshold" default="0.01"/>
  <arg name="cbs_temporary_linear_already_applied_dmu_threshold" default="0.001"/>
  <arg name="cbs_temporary_linear_already_applied_cov_rel_threshold" default="0.001"/>
  <arg name="cbs_d_reset" default="0.1"/>
  <arg name="kimera_cbs_l2k_prior_factor_covariance_scale" default="1.0"/>
  <arg name="liorf_cbs_k2l_prior_factor_covariance_scale" default="1.0"/>
  <arg name="liorf_belief_exchange_window_size" default="30"/>
  <arg name="liorf_cbs_l2k_cov_audit_enable" default="false"/>
  <arg name="liorf_cbs_l2k_cov_audit_max_samples" default="20"/>
  <arg name="liorf_cbs_l2k_cov_audit_replacement_trans_variance" default="1.0"/>
  <arg name="liorf_cbs_l2k_cov_audit_query_anchor_variance" default="1000000.0"/>
  <arg name="liorf_cbs_l2k_outgoing_covariance_mode" default="A_as_is_local_anchored"/>
  <arg name="liorf_cbs_l2k_outgoing_covariance_scale" default="1.0"/>
  <arg name="liorf_cbs_conjugate_body_frame_conversion" default="true"/>
  <arg name="cbs_use_bpsam_for_local_belief_covariance" default="false"/>
  <arg name="cbs_use_persistent_bpsam_sidecar_for_belief_covariance"
       default="false"/>
  <arg name="cbs_use_persistent_bpsam_for_main_backend" default="false"/>
  <arg name="cbs_log_covariance_sanity_diff" default="false"/>
  <arg name="include_pipeline_flags" default="false"/>
  <arg name="pipeline_flagfile"
       default="$(find kimera_vio)/params/S3EAlphaMonoXfeat/flags/Pipeline.flags"/>

  <arg name="liorf_cbs_belief_in_topic" default="/kimera/cbs/belief_out"/>
  <arg name="liorf_cbs_belief_out_topic" default="/kimera/cbs/belief_in"/>
  <arg name="kimera_cbs_belief_in_topic" default="/kimera/cbs/belief_in"/>
  <arg name="kimera_cbs_belief_out_topic" default="/kimera/cbs/belief_out"/>
  <arg name="liorf_cbs_odom_belief_in_topic" default="/kimera/cbs/odom_belief_out"/>
  <arg name="liorf_cbs_odom_belief_out_topic" default="/kimera/cbs/odom_belief_in"/>
  <arg name="kimera_cbs_odom_belief_in_topic" default="/kimera/cbs/odom_belief_in"/>
  <arg name="kimera_cbs_odom_belief_out_topic" default="/kimera/cbs/odom_belief_out"/>

  <param if="$(eval arg('rerun_recording_id') == '')"
         name="/cbsms/rerun_recording_id"
         command="$(find kimera_vio_ros)/scripts/rerun_recording_id.py s3e_alpha"/>
  <param unless="$(eval arg('rerun_recording_id') == '')"
         name="/cbsms/rerun_recording_id"
         value="$(arg rerun_recording_id)"/>

  <include file="$(find liorf)/launch/run_lio_sam_s3e_alpha.launch">
    <arg name="use_rviz" value="$(arg use_liorf_rviz)"/>
    <arg name="rerun_visualizer_enable"
         value="$(arg rerun_visualizer_enable)"/>
    <arg name="rerun_recording_id" value="$(arg rerun_recording_id)"/>
    <arg name="rerun_host" value="$(arg rerun_host)"/>
    <arg name="rerun_factor_graph_enable"
         value="$(arg rerun_factor_graph_enable)"/>
    <arg name="use_gps" value="$(arg liorf_use_gps)"/>
    <arg name="rerun_local_map_leaf_size"
         value="$(arg liorf_rerun_local_map_leaf_size)"/>
    <arg name="rerun_local_map_max_points"
         value="$(arg liorf_rerun_local_map_max_points)"/>
    <arg name="cbs_belief_timestamp_tolerance_sec"
         value="$(arg liorf_belief_timestamp_tolerance_sec)"/>
    <arg name="cbs_belief_reject_first_message"
         value="$(arg liorf_belief_reject_first_message)"/>
    <arg name="cbs_enable_soft_reset" value="$(arg cbs_enable_soft_reset)"/>
    <arg name="cbs_use_raw_previous_belief_gate"
         value="$(arg cbs_use_raw_previous_belief_gate)"/>
    <arg name="cbs_use_temporary_cbs_prior_factors"
         value="$(arg cbs_use_temporary_cbs_prior_factors)"/>
    <arg name="cbs_use_temporary_cbs_linear_priors"
         value="$(arg cbs_use_temporary_cbs_linear_priors)"/>
    <arg name="cbs_belief_factor_mode"
         value="$(arg cbs_belief_factor_mode)"/>
    <arg name="cbs_use_sender_conditional_odom_factors"
         value="$(arg cbs_use_sender_conditional_odom_factors)"/>
    <arg name="cbs_temporary_linear_already_applied_gate_enable"
         value="$(arg cbs_temporary_linear_already_applied_gate_enable)"/>
    <arg name="cbs_temporary_linear_already_applied_metric_threshold"
         value="$(arg cbs_temporary_linear_already_applied_metric_threshold)"/>
    <arg name="cbs_temporary_linear_already_applied_dmu_threshold"
         value="$(arg cbs_temporary_linear_already_applied_dmu_threshold)"/>
    <arg name="cbs_temporary_linear_already_applied_cov_rel_threshold"
         value="$(arg cbs_temporary_linear_already_applied_cov_rel_threshold)"/>
    <arg name="cbs_d_reset" value="$(arg cbs_d_reset)"/>
    <arg name="cbs_k2l_prior_factor_covariance_scale"
         value="$(arg liorf_cbs_k2l_prior_factor_covariance_scale)"/>
    <arg name="cbs_belief_bridge_enable" value="$(arg enable_cbs_bridge)"/>
    <arg name="cbs_odom_belief_in_topic"
         value="$(arg liorf_cbs_odom_belief_in_topic)"/>
    <arg name="cbs_odom_belief_out_topic"
         value="$(arg liorf_cbs_odom_belief_out_topic)"/>
    <arg name="cbs_belief_exchange_window_size"
         value="$(arg liorf_belief_exchange_window_size)"/>
    <arg name="cbs_l2k_cov_audit_enable"
         value="$(arg liorf_cbs_l2k_cov_audit_enable)"/>
    <arg name="cbs_l2k_cov_audit_max_samples"
         value="$(arg liorf_cbs_l2k_cov_audit_max_samples)"/>
    <arg name="cbs_l2k_cov_audit_replacement_trans_variance"
         value="$(arg liorf_cbs_l2k_cov_audit_replacement_trans_variance)"/>
    <arg name="cbs_l2k_cov_audit_query_anchor_variance"
         value="$(arg liorf_cbs_l2k_cov_audit_query_anchor_variance)"/>
    <arg name="cbs_l2k_outgoing_covariance_mode"
         value="$(arg liorf_cbs_l2k_outgoing_covariance_mode)"/>
    <arg name="cbs_l2k_outgoing_covariance_scale"
         value="$(arg liorf_cbs_l2k_outgoing_covariance_scale)"/>
    <arg name="cbs_conjugate_body_frame_conversion"
         value="$(arg liorf_cbs_conjugate_body_frame_conversion)"/>
  </include>

  <param name="/liorf/cbsBeliefInTopic"
         value="$(arg liorf_cbs_belief_in_topic)"/>
  <param name="/liorf/cbsBeliefOutTopic"
         value="$(arg liorf_cbs_belief_out_topic)"/>
  <param name="/liorf/cbsBeliefSimilarityThreshold"
         value="$(arg liorf_cbs_belief_similarity_threshold)"/>

  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros_s3e_alpha_mono.launch">
    <arg name="online" value="true"/>
    <arg name="should_use_sim_time" value="true"/>
    <arg name="params_folder" value="$(arg kimera_params_folder)"/>
    <arg name="use_rviz" value="$(arg use_kimera_rviz)"/>
    <arg name="visualize" value="$(arg kimera_visualize)"/>
    <arg name="rerun_visualizer_enable"
         value="$(arg rerun_visualizer_enable)"/>
    <arg name="rerun_recording_id" value="$(arg rerun_recording_id)"/>
    <arg name="rerun_host" value="$(arg rerun_host)"/>
    <arg name="rerun_factor_graph_enable"
         value="$(arg rerun_factor_graph_enable)"/>
    <arg name="rerun_world_alignment_enable"
         value="$(arg rerun_world_alignment_enable)"/>
    <arg name="cbs_belief_bridge_enable" value="$(arg enable_cbs_bridge)"/>
    <arg name="cbs_belief_in_topic" value="$(arg kimera_cbs_belief_in_topic)"/>
    <arg name="cbs_belief_out_topic" value="$(arg kimera_cbs_belief_out_topic)"/>
    <arg name="cbs_odom_belief_in_topic"
         value="$(arg kimera_cbs_odom_belief_in_topic)"/>
    <arg name="cbs_odom_belief_out_topic"
         value="$(arg kimera_cbs_odom_belief_out_topic)"/>
    <arg name="cbs_external_belief_timestamp_tolerance_sec"
         value="$(arg kimera_belief_timestamp_tolerance_sec)"/>
    <arg name="cbs_enable_soft_reset" value="$(arg cbs_enable_soft_reset)"/>
    <arg name="cbs_use_raw_previous_belief_gate"
         value="$(arg cbs_use_raw_previous_belief_gate)"/>
    <arg name="cbs_reject_first_message"
         value="$(arg kimera_belief_reject_first_message)"/>
    <arg name="cbs_use_temporary_cbs_prior_factors"
         value="$(arg cbs_use_temporary_cbs_prior_factors)"/>
    <arg name="cbs_use_temporary_cbs_linear_priors"
         value="$(arg cbs_use_temporary_cbs_linear_priors)"/>
    <arg name="cbs_belief_factor_mode"
         value="$(arg cbs_belief_factor_mode)"/>
    <arg name="cbs_use_sender_conditional_odom_factors"
         value="$(arg cbs_use_sender_conditional_odom_factors)"/>
    <arg name="cbs_temporary_linear_already_applied_gate_enable"
         value="$(arg cbs_temporary_linear_already_applied_gate_enable)"/>
    <arg name="cbs_temporary_linear_already_applied_metric_threshold"
         value="$(arg cbs_temporary_linear_already_applied_metric_threshold)"/>
    <arg name="cbs_temporary_linear_already_applied_dmu_threshold"
         value="$(arg cbs_temporary_linear_already_applied_dmu_threshold)"/>
    <arg name="cbs_temporary_linear_already_applied_cov_rel_threshold"
         value="$(arg cbs_temporary_linear_already_applied_cov_rel_threshold)"/>
    <arg name="cbs_d_reset" value="$(arg cbs_d_reset)"/>
    <arg name="cbs_l2k_prior_factor_covariance_scale"
         value="$(arg kimera_cbs_l2k_prior_factor_covariance_scale)"/>
    <arg name="cbs_use_bpsam_for_local_belief_covariance"
         value="$(arg cbs_use_bpsam_for_local_belief_covariance)"/>
    <arg name="cbs_use_persistent_bpsam_sidecar_for_belief_covariance"
         value="$(arg cbs_use_persistent_bpsam_sidecar_for_belief_covariance)"/>
    <arg name="cbs_use_persistent_bpsam_for_main_backend"
         value="$(arg cbs_use_persistent_bpsam_for_main_backend)"/>
    <arg name="cbs_log_covariance_sanity_diff"
         value="$(arg cbs_log_covariance_sanity_diff)"/>
    <arg name="include_pipeline_flags" value="$(arg include_pipeline_flags)"/>
    <arg name="pipeline_flagfile" value="$(arg pipeline_flagfile)"/>
  </include>

  <node if="$(arg play_bag)"
        pkg="rosbag"
        type="play"
        name="s3e_bag_play"
        output="screen"
        args="--clock --rate=$(arg bag_rate) --start=$(arg bag_start) --duration=$(arg bag_duration) $(arg bag_path)"/>
</launch>
